<!DOCTYPE html>
<html>
<head>
    <title>CustoMap</title>
    <style>
        /* Add CSS to create a scrollable view */
        .scrollable-view {
            margin: 0 auto;
            width: 100px;
            height: 70px; /* Set the desired height */
            overflow: auto; /* Enable scrolling when content overflows the container */
            border: 0px solid #ccc; /* Optional: Add a border for styling */
        }
    
    </style>
</head>
<body>
    <h1 style="text-align: center;">CustoMap</h1>
    <form method="POST" target="_blank">
        <div align="center" class="input_fields">
        <label style="text-align: center;" for="text_field1">Latitude:</label>
        <input size="50px" style=" margin-left: 16px; padding-right: 7px;" type="number" step="0.000001" min="-90" max="90" name="text_field1" id="text_field1" required><br>

        <label style="text-align: center;" for="text_field2">Longitude:</label>
        <input size="50px" style="margin-top: 5px; margin-bottom: 5px; margin-left: 5px; padding-right: 0px;" type="number" step="0.000001" min="-180" max="180" name="text_field2" id="text_field2" required><br>

        <label style="text-align: left;" for="text_field3">Type:</label>
        <input size="19px" style="margin-bottom: 5px;" type="text" value="OpenStreetMap" name="text_field3" id="text_field3" disabled><br>
        </div>
        <table align="center" style="margin-top: 1%;">
        <th>
        <select style="text-align: center;" style="width: 70" name="multi_select" id="multi_select" multiple>
            <option value="Man" >Man</option>
                
            <option value="Woman">Woman</option>
            
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
            <option value="Option 5">Option 5</option>
            <option value="Option 6">Option 6</option>
            <option value="Option 7">Option 7</option>
            <option value="Option 8">Option 8</option>
            
        </select><br>
        </th>
        <th>
            <div class="scrollable-view" name="icon_counts">
            <input style="width: 75px;" min="0" type="number" name="text_fieldop1" placeholder="op1"><br>
            <input style="width: 75px;" min="0" type="number" name="text_fieldop2" placeholder="op2"><br>
            <input style="width: 75px;" min="0" type="number" name="text_fieldop3" placeholder="op3"><br>
            <input style="width: 75px;" min="0" type="number" name="text_fieldop4" placeholder="op4"><br>
            <input style="width: 75px;" min="0" type="number" name="text_fieldop5" placeholder="op5"><br>
            <input style="width: 75px;" min="0" type="number" name="text_fieldop6" placeholder="op6"><br>
            <input style="width: 75px;" min="0" type="number" name="text_fieldop7" placeholder="op7"><br>
            <input style="width: 75px;" min="0" type="number" name="text_fieldop8" placeholder="op8"><br>
    
            </div>
        </th>
        </table>
        <div align="center" style="margin-left: 0px; margin-top: 1%; text-align: center;"> 
        <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>
